.SearchPanel {
    border: 1px solid #3498DB;
    border-radius: 5px;
    margin: 25px 10px;
    display: flex;
}

.Search {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    outline: none;
}

.GroupList {
    list-style: none;
    display: flex;
    flex-direction: column;
}