.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.BackgroundImage {
    background-image: url(../../../images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.Filter{
    width: 100%;
    height: 100%;
    background-color: red;
}

.MainMenu{
    background: rgba(0, 0, 0, 0.2);
}