.Main {
  position: relative;
  width: 100%;
  max-width: 760px;
}
input[type="text"]:focus { outline: none; }
.input {
  width: 100%;
  border: none;
  padding: 14px 80px;
  font-size: 18px;
  /* font-style: italic; */
}
.clip {
  position: absolute;
  top: 6px;
  left: 15px;
  cursor: pointer;
  color: #fff;
  padding: 7px;
  border: none;
  font-weight: 400;
  background: #3498DB;
  outline: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn {
  background: none;
  font-size: 25px;
  border: none;
  position: absolute;
  top: 24%;
  color: #3498DB;
  right: 55px;
  cursor: pointer;
  outline: none;
} 
.smile {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #C4C4C4;
  right: 15px;
  top: 12px;
}
.EmojisForm {
  position: absolute;
  bottom: 100%;
  right: 0;
}