.main {
    width: 482px;
    height: 640px;
    /* left: 344px; */
    /* top: 139px; */


}
.content {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 200;
}
.restangle_2_1 {
    /*width: 395.46px;*/
    /*height: 518.7px;*/
    /*position: absolute;*/
    /*overflow: hidden;*/
    /* position: absolute; */
    width: 481px;
    height: 640px;
    /*left: 344px;*/
    /* top: 139px; */
    background: linear-gradient(180deg, #3498DB 0%, #2980B9 100%);
    border-radius: 25px;
}
.restangle_2_2 {
    position: absolute;
    width: 414px;
    height: 548px;
    left: 35px;
    /* top: 198px; */
    top: 49px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.restangle_2_3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    z-index: 400;
}
.restangle_2_3:hover {
    /* outline: 1px #ffe684 solid; */
}
.ellipse_big {
    background-image: url(../../images/ellipse.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    position: absolute;
    width: 573px;
    height: 574px;
    /* left: -46px; */
    /* top: 17px; */
    /*background: linear-gradient(180deg, #3498DB 0%, #2980B9 100%);*/
    /*box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);*/
    /*border-radius: 287px;*/
}

.ellipse_bigtop {
    position: absolute;
    width: 481px;
    height: 640px;
    left: 345px;
    top: 139px;
    background: linear-gradient(180deg, #3498DB 0%, #2980B9 100%);
    border-radius: 25px;
}

.maskgroup {
    position: absolute;
    width: 481px;
    height: 640px;
    left: 345px;
    top: 139px;

}

.pocket_messenger,
.for_geeks_by_geeks {
    font-family: Roboto;
}
.pocket_messenger {
    position: absolute;
    /*width: 390px;*/
    height: 57px;
    left: 45px;
    top: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 48px;
    color: #FFFFFF;
    border-radius: 25px;
}
.for_geeks_by_geeks {
    position: absolute;
    width: 171px;
    height: 24px;
    left: 140px;
    top: 102px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 25px;
}

.ellipse_small {

    position: absolute;
    width: 104px;
    height: 104px;
    left: 180px;
    top: 190px;
    background: #FFFFFF;
    border-radius: 52px;
}
.restangle_2_3 input {
    display: block;
    position: absolute;
    left: 18%;
    border: 1px #ffe684 solid;
    border-radius: 8px;
    background-color: #b8c5cb;
    width: 62%;
    z-index: 200;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    color: #111111;
}
.restangle_2_3 input:focus {
    background-color: #eee;
    border: 3px solid #FFE684;
    outline: none;
}
.forgot_pass {
    position: absolute;
    left: 18%;
    top: 65.5%;
    z-index: 300;
}
.forgot_pass a {
    color: #ffe684;
    text-decoration: none;
    font-size: 12px;
}
.forgot_pass a:hover {
    text-decoration: underline;
}
.log_in {

    position: absolute;
    width: 270px;
    height: 40px;
    left: calc(50% - 260px/2);
    top: 510px;

    /* Bottom activ */
    background: #3498DB;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    /* Текст на кнопке */
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}
.log_in:hover {
    cursor: pointer;
}
.mail,
.pass {
    height: 7.5%;
}
.mail {
    /*top: 46.3%;*/
    position: absolute;
    width: 332px;
    height: 40px;
    left: calc(50% - 332px/2);
    top: 360px;
    background: #FFFFFF;
    border: 1px solid #3498DB;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.pass {
    /*top: 57.8%;*/
    position: absolute;
    width: 332px;
    height: 40px;
    left: calc(50% - 332px/2);
    top: 430px;
    background: #FFFFFF;
    /* Bottom activ */
    border: 1px solid #3498DB;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.registration {
    position: absolute;
    /*width: 230px;*/
    height: 17px;
    left: 130px;
    top: 570px;


    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #324A5E;

    border-radius: 25px;
}
.registration a {
    color: #324A5E;;
    text-decoration: none;
}
.registration a:hover {
    text-decoration: underline;
}

/* new styles */

/* Rectangle 2 */

.rectangle_2 {
    position: absolute;
    width: 1170px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

/* LOGEEN */

.logeen {
    position: absolute;
    width: 482px;
    height: 640px;
    left: 344px;
    top: 139px;
}

/* вход кнопка */

.logeen_button {
    position: absolute;
    width: 270px;
    height: 40px;
    left: 451px;
    top: 642px;
}

/* ВОЙТИ */

.logeen_button_text {
    position: absolute;
    width: 54px;
    height: 19px;
    left: calc(50% - 54px/2 - 1px);
    top: calc(50% - 19px/2 - 0.5px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;

    border-radius: 25px;
}

/* Rectangle 3.3 */
.logeen_button_rectangle_3_3 {
    position: absolute;
    width: 270px;
    height: 40px;
    left: calc(50% - 270px/2);
    top: calc(50% - 40px/2);
}

/* Bottom activ */

.logeen_button_active {
    background: #3498DB;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}




/* Line 2.1 */
.logeen_line_2_1 {
    position: absolute;
    width: 29px;
    height: 0px;
    left: 454px;
    top: 570px;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 25px;
    transform: rotate(90deg);
}

/* Line 2 */
.logeen_line_2 {
    position: absolute;
    width: 29px;
    height: 0px;
    left: 454px;
    top: 505px;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 25px;
    transform: rotate(90deg);
}
