.Main{
    display: grid;
    max-width: 1170px;
    grid-template-columns: 410px 1fr;
    margin: 0 auto;
    height: 100vh;
}

.Field{
	width: 100%;
    max-width: 760px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #F9F9F9;
}