* {
  box-sizing: border-box; }

.ListItem{
	list-style: none;
	width: 205px;
}

.Tab{
	display: block;
	padding: 15px 25px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #3498DB;
    margin: 0;
    width: 205px;
    text-decoration: none
}

.ActiveTab{
    border-bottom: 2px solid #F8D57D;
}