@import url('https://fonts.googleapis.com/css?family=Roboto');

.profile  {
    width: 410px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    margin: 0;
}
.header {
    background-image: url(../../../images/personal_profile/ellipse.svg);
    background-repeat: no-repeat;
    background-position-y: -100px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header__pic {
    margin: 45px 130px 0;
}
.header__avatar {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 0 -20px 0;
}
.change-btn {
    background-color: #3498DB;
    border: 4px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    margin: 0 -35px 0;
    cursor: pointer;
    outline: 0 none;
}
.header__text {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;

    color: #FFFFFF;
    margin: 20px auto;
}
/*---info---*/
.profile-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}
.profile-info__mail{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: rgba(52, 73, 94, 0.69);
    margin: 10px;
}
.profile-info__name {
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.profile-name {
    display: block;
    flex-grow: 1;
    align-self: center;
    text-align: center;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #34495E;
}
.edit {
    border: none;
    background-color: #F9F9F9;
    margin: 5px 15px;
    cursor: pointer;
    outline: 0 none;
}
/*---status---*/
.status {
    display: flex;
    flex-direction: column;
}
.status__info {
    display: block;
    margin: 20px 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #34495E;
}
.status__about{
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.status__about-add {
    display: block;
    align-self: center;
    text-align: left;
    padding-left: 25px;
}
.status__about-text{
    outline: none;
    border: none;
    flex-grow: 1;
}
.status__text{
    margin: 10px 25px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 16px;
    color: rgba(52, 73, 94, 0.69);
}
/*---profile-list---*/
.profile-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.profile-menu__items {
    margin: 0;
}
.profile-menu__items_toggle {
    display: flex;
}
.item-btn {
    background-color: #F9F9F9;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.Icon{
   color: #3498db;
   margin-right: 20px;
}
.IconCamera{
    color: #fff;
    font-size: 24px;
}
.item-btn:hover {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #3498DB;
}
.profile-menu__icon{
    margin: 0 20px;
}

/*---toggle switch---*/
.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    margin: 0 30px;
    color: #fff;
    font-size: 24px;
    text-shadow: 4px 4px 4px rgb(73, 56, 246);
}
.switch {
    display: none;
}
.switch__line {
    width: 35px;
    height: 15px;
    background: rgba(34, 31, 31, 0.26);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.switch__line:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: #3498DB;
    top: -3px;
    right: -3px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.30);
}
.switch:checked + .switch__line {
    background: #F9F9F9;
    border: 1.5px solid rgba(34, 31, 31, 0.26);
}
.switch:checked + .switch__line::before {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.30);
    background: darkgrey;
}
.switch:checked + .switch__line::before {
    right: 20px;
}
/*---button---*/
.close-profile{
    background-color: #fff;
    margin-top: 2px;
    width: 100%;
    display: flex;
}
.close-btn{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}
.close-btn__icon {
    margin: 10px;
}
/*---password section---*/
.PasswordBlock{
    background-color: #fff;
    margin: 0 auto;   
    padding: 10px;
    width: 370px;
}
.PasswordBlockTitle{
    font: 300 16px/16px Roboto, sans-serif;
    margin-bottom: 10px;
}
.PasswordBlockInput{
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
}    
.PasswordBlockBtn{  
    background-color: #3498db;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font: 700 14px/14px Roboto, sans-serif;
    height: 34px;
    width: 153px;
}
    

    
    
    
    



    
    
