.List{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
}

.ButtonsBlock{
	margin: 1px;
    display: flex;
    align-items: stretch;
    background-color: #F9F9F9;
	flex-direction: column;
	margin-top: 10px;
}

.Button{
	margin: 10px 0;
    border: none;
    display: flex;
    background-color: #F9F9F9;
    opacity: 50%;
	cursor: pointer;
	outline: none;
}

.Icon{
	background-color: #3498DB;
	border-radius: 50px;
	color: #fff;
	font-weight: 200;
	font-size: 54px;
	line-height: 50px;
    margin: 10px;
    width: 50px;
	height: 50px;
}

.Text{
	margin: 20px;
/*    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;*/
    font: normal normal 14px/normal Roboto,sans-serif;;
}