
.Profile{
	width: 410px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    margin: 0;
}

.Header{
	background-image: url(../../../images/user_profile/ellipse.svg);
    background-repeat: no-repeat;
    background-position-y: -100px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ChatProfile_HeaderAvatar__3NTqC{
    background: #6866e6;
}
.HeaderAvatar{
	margin: 45px 130px 0;
    border: 4px solid white;
    border-radius: 50%;
}

.HeaderText{
	font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #34495E;
    text-align: center;
    margin: 12px;
}

.GroupInfoName{
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.GroupName{
    display: block;
    flex-grow: 1;
    align-self: center;
    text-align: center;
     font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #34495E;
}

.Edit{
    border: none;
    background-color: #F9F9F9;
    margin: 5px 15px;
    cursor: pointer;
    outline: 0 none;
}

.EditIcon{

}

.Status{
    display: flex;
    flex-direction: column;
}

.StatusInfo{
    display: block;
    margin: 20px 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #34495E;
}

.StatusAbout{
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.StatusAboutAdd{
    display: block;
    align-self: center;
    text-align: left;
    padding-left: 25px;
}

.StatusAboutText{
    outline: none;
    border: none;
    flex-grow: 1;
}

.StatusText{
    margin: 10px 25px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #34495E;
}

.GroupMenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.GroupMenuItems{
    margin: 0;
}

.GroupMenuIcon{
	margin: 0 20px;
}

.ItemBtn{
    background-color: #F9F9F9;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
     font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.ItemBtn:hover{
	font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #3498DB;
}
.ItemBtnRed{
	color: #db3434;
}
.ItemBtnRed:hover{
	color: #bd3434;
    font-weight: bold;
}

.ToggleSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    margin: 0 30px;
    color: #fff;
    font-size: 24px;
    text-shadow: 4px 4px 4px rgb(73, 56, 246);
}

.Switch{
	display: none;
}

.SwitchLine{
    width: 35px;
    height: 15px;
    background: rgba(34, 31, 31, 0.26);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

.SwitchLine:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: #3498DB;
    top: -3px;
    right: -3px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.30);
}

.Switch:checked + .SwitchLine {
    background: #F9F9F9;
    border: 1.5px solid rgba(34, 31, 31, 0.26);
}
.Switch:checked + .SwitchLine::before {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.30);
    background: darkgrey;
}
.Switch:checked + .SwitchLine::before {
    right: 20px;
}


.CloseProfile{
    background-color: #fff;
    margin-top: 2px;
    width: 100%;
    display: flex;
}

.CloseBtn{
	background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}

.CloseBtnIcon{
	margin: 10px;
}










