@import url('https://fonts.googleapis.com/css?family=Roboto');

/*sidebar*/
.Sidebar{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Text{
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.TextHovered{
    color: #F8D57D;
}

.Tabs{
    display: flex;
}

.Icon{
	padding: 5px;
    color: #fff;
}
.IconHovered{
    color: #F8D57D;
    padding: 5px;
}
