
.Menu{
	background-color: #3498DB;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-basis: 49px;
    padding: 5px;
}

.SidebarItem{
	display: flex;
    width: 410px;
    flex-wrap: wrap;
}

.Search{
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 80%;
    top: 7px;
    font-family: Roboto,sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    outline: none;
    font-size: 14px;
}

.Burger {
    height: 18px;
    width: 25px;
    position: relative;
    margin: 15px 4px 0 22px;
}

/*линии*/
.BurgerLine,
.Burger:before,
.Burger:after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
}
.Burger:before {
    top: 0;
}
.Burger:after {
    bottom: 0;
}
.BurgerLine{
    top: 8px;
}

.Burger:hover{
    cursor: pointer;
}

.BurgerLabel{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.MainMenuOpened{
	position: absolute;
    display: block;
    width: 410px;
    top: -70px;
    transform: translateY(100%);
    max-height: 500px;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 2; /*чтобы не пряталось за модальным окном поиска контактов*/
}

.MainMenuClosed{
	position: absolute;
    display: block;
    top: -70px;
    transform: translateY(100%);
    overflow: hidden;
	max-height: 0px;
    width: 410px;
}

.BurgerItem{
	display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #3498DB;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}
.BurgerItem:hover {
    color: #F8D57D;
}

.BurgerSearch {
    margin: 0 auto;
}

.List{
    height: 834px;
}
.ButtonsBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    padding: 20px;
    width: 100%;
}
.Button{
    align-items: center;
    background: #bababa;
    border-radius: 25px;
    color: #fff;
    display: flex;
    flex-direction: row;
    font: normal normal 14px/0 Roboto;
    justify-content: center;
    height: 40px;
    width: 180px;
}
.Button:hover{
    background: #3498DB;
    cursor: pointer;
}
.ButtonIcon{
    font-size: 15px;
    margin-right: 15px;
}
