.Header{
	align-items: center;
	background-color: #3498db;
	display: flex;
	justify-content: flex-end;
	height: 49px;
	padding-right: 20px;
}
.Button{
	color: #fff;
	cursor: pointer;
	font-size: 34px;
}

.List{
	margin-top: 10px;
}

.Item{
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 50px;
}
.Icon{
	color: #3498db;
	margin: 0 27px;
}
.Text{
	color: #34495e;
	font: normal normal 16px/19px Roboto;
}
.Text:hover{
	color: #3498db;
}