
/*.menu*/
.Menu{
	background-color: #3498DB;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-basis: 49px;
}

/*.sidebar_item*/
.SidebarItem{
	display: flex;
    width: 410px;
    flex-wrap: wrap;
}

/*.burger-menu*/
/*.Burger{
	width: 40px;
    background-color: #3498DB;
    position: relative;
    text-align: center;
    height: 40px;
} */




.Burger {
  height: 30px;
  width: 40px;
  position: relative;
  margin: 15px 0 0 30px;
}

/*линии*/
.BurgerLine,
.Burger:before,
.Burger:after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
}
.Burger:before {
    top: 0;
}
.Burger:after {
    bottom: 0;
}
.BurgerLine{
    top: 15px;
}

.Burger:hover{
    cursor: pointer;
}

.BurgerLabel{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.MainMenuOpened{
	position: absolute;
    display: block;
    width: 410px;
    top: -70px;
    transform: translateY(100%);
    max-height: 500px;
    overflow: hidden;
    transition: 0.5s all;
}

.MainMenuClosed{
	position: absolute;
    display: block;
    top: -70px;
    transform: translateY(100%);
    overflow: hidden;
	max-height: 0px;
    width: 410px;
}

.BurgerItem{
	display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #3498DB;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}
.BurgerItem:hover {
    color: #F8D57D;
}
