.test {
  background: url('./img/Fon.png');
}
.date {
  text-align: center;
  padding-bottom: 10px;
}
.date span {
  background: rgba(15, 157, 88, 0.25);
  border-radius: 8px;
  padding: 3px 10px;
}
.item {
  padding-left: 30px;
  padding-bottom: 30px;
  list-style: none;
  font-family: "Roboto";
  font-size: 14px;
}
.superBlock {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.miniFoto {
  /* width: 10%; */
  margin: 0;
  margin-right: 20px;
}
.name {
  color: #0F9D58;
}
.block {
margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blockSms {
  margin: 0;
  padding: 10px 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.time {
  padding-left: 11px;
}
